- 
    var teamMembers = [
        {
            memberImg: '/images/daniela.jpg',
            content: {
                memberName: 'daniela cervini',
                memberRole: 'founder, lawyer',
                memberContactInfo: 'daniela@cervinibhatia.com'
            }
        },
        {
            memberImg: '/images/navjot.jpg',
            content: {
                memberName: 'Navjot Bhatia',
                memberRole: 'founder, lawyer',
                memberContactInfo: 'shiwali@cervinibhatia.com'
            }
        },
        {
            memberImg: '/images/poonam.jpg',
            content: {
                memberName: 'Poonam Kumar',
                memberRole: 'Public Relations',
                memberContactInfo: 'poonam@cervinibhatia.com'
            }
        },
    ]

section.section#team-details
    .team
        .mobile-version
            .wrapper
                .cell
                    each teamMember in teamMembers 
                        article.team__member
                            .member-img 
                                img(src=teamMember.memberImg class="img-team-member")
                            .member-content
                                h1.content-staff-member= teamMember.content.memberName
                                p.content-staff-role= teamMember.content.memberRole
                                p.content-contact-info= teamMember.content.memberContactInfo
                                .content-cta    
                                    span.cta learn more
                                        div       
        .desktoptablet-version
            .wrapper
                .cell
                    each teamMember in teamMembers 
                        article.team__member
                            .member-img 
                                img(src=teamMember.memberImg class="img-team-member")
                            .member-content
                                h1.content-staff-member= teamMember.content.memberName
                                p.content-staff-role= teamMember.content.memberRole
                                p.content-contact-info= teamMember.content.memberContactInfo
                                .content-cta    
                                    span.cta learn more
                                        div  